services:
  shop:
    container_name: cinnamon-shop-local
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PORT=8080
    ports:
      - "8080:8080"
    restart: unless-stopped